################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/DAL/bin/Debug/net8.0
/DAL/obj/Debug/net8.0
/DAL/obj
/Domain.Core/bin/Debug/net8.0
/Domain.Core/obj
/obj
/bin/Debug
/Infrastructure.GraphQL/obj
